/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
  color: var(--accent-color);
  font-family: var(--main-font);
  font-variation-settings: var(--card-title-font-weight);
  background-image:
    repeating-linear-gradient(var(--stripes-gradient)),
    repeating-linear-gradient(to right, var(--stripes-gradient)),
    linear-gradient(var(--color-saturation-gradient));
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  gap: 25px;
  margin: 102px 0;
  padding-block-end: 25px;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
  background-color: var(--background-color);
}

.header__logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__logo-group {
  margin-block-start: 120px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.uppercase {
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  border: none;
  font-size: 14px;
  background-color: inherit;
}